body {
    
}

#canvas {
    width: 720px; 
    height: 449px;
    border: 1px solid rgb(218, 17, 17);
    display: block;
    margin: 0 auto;
    margin-top: 10%; 
    background-image: url("background.jpg");    
}

